.sidebar {

}

.ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  font-weight: 600;

  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
  width: 200px;
}

.li {
  border-radius: 0.5rem;
  padding: 0.2rem;
  transition: background-color .5s;
}

.li:last-child {
  margin-top: auto;
}

.li:hover {
  background-color: #D3D3D3;
}

.link {
  display: inline-block;
  width: 100%;
}

