.section {
  padding-top: 170px;
  padding-bottom: 112px;
  position: relative;
}

.container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
}

.title {
  color: var(--secondary-background);
  font-family: var(--title-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  text-transform: uppercase;
}

.subtitle {
  font-family: var(--subtitle-font);
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 114.286%;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.desc {
  margin-top: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.button {
  width: max-content;
  color: white;
  background-color: var(--primary)
}

.link {
  margin-top: 40px;
  width: max-content;
}

.button:hover {
  box-shadow: 0px 0px 10px var(--primary);
}

.image {
  justify-self: start;
}

.owl {
  position: absolute;
  top: -15%;
  right: 10%;
}

.picture {
  background: url('/pic.png') center center/cover no-repeat;
  width: 370px;
  aspect-ratio: 185 / 232;
  position: relative;
  border-radius: 8px;
  box-shadow: -32px -32px 0px var(--attention);
}

@media screen and (max-width: 900px) {
  .desc {
    font-size: 18px;
  }

  .subtitle {
    font-size: 48px;
  }

  .picture {
    width: 330px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }

  .title {
    text-align: center;
  }

  .link {
    align-self: center;
  }

  .owl {
    width: 130px;
  }

  .subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 635px) {
  .subtitle {
    font-size: 38px;
  }

  .desc {
    font-size: 16px;
  }
}

@media screen and (max-width: 520px) {
  .desc {
    text-align: center;
  }
}

@media screen and (max-width: 492px) {
  .section {
    padding-bottom: 45px;
  }
}

@media screen and (max-width: 450px) {
  .picture {
    width: 260px;
    box-shadow: -18px -18px 0px var(--attention);
  }

  .owl {
    width: 100px;
    right: 5%;
  }
}
