.footer {
    padding: 55px 0;
    background-color: #333;
    color: white;
    position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.dashboard {
  font-size: 14px;
  color: var(--ghost-border);
  align-self: center;
  transition: color .3s;
}

.dashboard:hover {
  color: white;
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 30px 0px;
  }
}
